.done {
    font-size: 20px;
    background: green;
    color: white;
 }

 li {
    font-size: 30px;
    color: black;
    padding-bottom: 10px;
    background: yellow;

}

.ten input {
    width: 800px;
    display: inline-block;
}

.two input {
    display: inline-block;
}