body {
    margin: 10px;
}

table {
    border: 2px solid black;
    margin-left: 7px;
}

td {
    font-size: 15px;
    margin: 20px;
    border: 2px solid black;
    padding: 10px 30px;
    text-align: center;
}

th {
    font-size: 15px;
    margin: 20px;
    border: 2px solid black;
    padding: 10px 30px;
}


input {
    display: inline-block;
    font-size: 20px;
    background: yellow;
    border: 2px solid yellowgreen;
    border-radius: 10px;
    margin: 0 49px 15px 45px;
    width: 103px;
    text-align: center;
}

#phoneNumber {
    width: 130px;
    margin: 2px;
}

input:focus {
    background: #eaeaea;
    }

button {
    margin-left: 18px;
    background: chartreuse;
    border:  3px solid rgb(57, 109, 144);
    border-radius: 10px;
    font-size: 20px;
    padding: 3px;
    cursor: pointer;
}



.loading {
    background: grey;
}

span {
    border: 1px solid black;
    background-color: brown;
    padding: 2px;
    cursor: pointer;
}
 
.error {
    border:  4px solid red;
}

.invalid {
    color: red;
    font-size: 25px;
    padding-left: 80px;
}