body {
    margin: 10px;
}
 ul {
    margin: 20px;
 }

 li {
     font-size: 30px;
     color: black;
     padding-bottom: 10px;
     background: yellow;
 }

.albums {
    width: 45%;
    float: left;
}

.photos {
    width: 45%;
    float: left;
}


.photos li {
    background: greenyellow;
}

h3 {
    font-size: 20px;
    color: black;
    text-align: center;
}
