body {
    margin: 10px;
}

.tab {
    display: flex;
    width: 500px;
    position: relative;
    z-index: 5;
}

.tab-item {
    display: inline-block;
}


.tab-item-title {
    padding: 5px 10px;
    width: 100px;
    border: 3px solid palegreen;
    border-radius: 3px;
    cursor: pointer;
    
}

.active .tab-item-title{
    border: 3px solid brown;
    position: relative;
    border-bottom: 3px solid white;
    z-index: 10;
}


.active  .tab-item-content {
    display: block;
    position: absolute;
    z-index: 3;
    top: 19px;
    left: 0; 
    margin-top: 10px;
    width: 100%;
    height: 80px;
    border: 3px solid brown;
}


.tab-item-content {
    display: none;
}

.buttons{
    position: absolute;
    right: 780px;
    top: 15px;
    cursor: pointer;
}

.buttons #prev {
    cursor: pointer;
    padding-right: 5px;
}

.buttons #next {
    cursor: pointer;
}